.menu {
    display: flex;
    justify-content: center;
  }
  
  .menu-items {
    display: flex;
  }
  
  .menu-item {
    padding: 5px;
    cursor: pointer;
  }
  
  .menu-item.selected {
    border-bottom: 3px solid orange; 
    margin-bottom: 1px; 
  }


  @media (max-width: 1148px) {
    .navbar {
      display: none !important; /* Oculta el menú en resoluciones de 1148px o superiores */
    }
  }