.cartContainer {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    font-family: Roboto;
  }
  
  .cartContainer .buttonCartContainer {
    position: absolute;
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
    z-index: 100000000;
  }
  
  .cartContainer .buttonCartContainer svg {
    height: 25px;
    margin-right: 2px;
  }
  
  .cartContainer .buttonCartContainer .buttonCart {
    background-color: #000;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    margin: 5px;
    justify-content: center;
    border-radius: 999px;
  }
  
  .cartContainer .buttonCartContainer .productsNumber {
    height: 20px;
    width: 20px;
    border-radius: 999px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(255, 128, 0);
    font-size: 12px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cartContainer .cart {
    position: absolute;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 5px;
    width: 500px;
    background-color: #fff;
    color: #000;
    z-index: 1000000;
    overflow-y: auto; /* Añadiendo desplazamiento si el contenido supera la altura máxima */
  }
  
  
  .cartContainer .cart h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 35px;
  }
  
  .cartContainer .cart .cartVacio {
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
  }
  
  .cartContainer .cart .total {
    text-align: center;
    font-weight: bold;
    padding-bottom: 35px;
  }
  
  .cartContainer .cart .productsContainer {
    max-height: 500px;
    overflow-y: scroll;
    margin-top: 5px;
  }
  
  ::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  ::-webkit-scrollbar:vertical {
    width: 3px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
  }
  