.menu {
    display: flex;
    justify-content: center;
  }
  
  .menu-items {
    display: flex;
  }
  
  .menu-item {
    padding: 5px;
    cursor: pointer;
  }
  
  .menu-item.selected {
    border-bottom: 3px solid rgb(187, 247, 208); 
    margin-bottom: 1px; 
  }
