@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');

body {
    background-color: #f0ebde;
    font-family: 'Edu TAS Beginner', cursive;
}


.fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 800ms ease-in;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 800ms ease-out;
  }

